:root {
  --radius-roles-overview: 350px;
  --radius-roles-overview-outer: 370px;
}

#rolesview .persona .goals {
  display:none;
}
#rolesview .persona .persona-info .desc {
  display:none;
}

#rolesview {
  position: relative;
  top: var(--radius-roles-overview);
  left: var(--radius-roles-overview-outer);
  min-height: var(--radius-roles-overview);
}
#rolesview .persona {
  position: absolute;
  max-width:150px;
}

#rolesview .persona .persona-info .title {
  font-size:75%;
  float:left;
//  overflow:hidden;
  white-space: nowrap;
}

#rolesview img {
  width:75px;
  height:75px;
  border-radius: 37px;
}

#rolesviewcontainer {
  background-color: SkyBlue;
  border-radius: var(--radius-roles-overview-outer) var(--radius-roles-overview-outer) 0 0;
//  padding-bottom:50px;
}

#rolesviewcontainer:after {
  content:'\00C6C3'; /* as html: &#xC6C3; */
  text-align:center;
  font-size:100px;
  width:100%;
  z-index:9995;
  display:block;
  margin-top:-50px;
}

#overviewfoundation {
  border-top: 8px solid Sienna;
  border-radius: 50% 50% 50% 50%/10% 10% 100% 100%;
  background-color: LawnGreen;
  height: 120px;
  margin-top: -20px;
  text-align:center;
}