#tmm table {
  margin:0 auto;
}
#tmm h3 {
  margin-bottom:0;
  text-decoration:overline;
}

.tmm td {
  padding:10px;
  border:1px solid;
  min-width: 300px;
  height: 175px;
  text-align: left; 
  vertical-align: top;
}

.tmm th:first-child {
  transform:rotate(-90deg);
  max-width: 25px;
}

.tmm ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

.tmm li:before {
    content: "\2610";
}

.tmm li:hover:before {
    content: "\2611";
}


.timemanagementmatrix {
  width: 100%;
  table-layout: fixed;
}
.timemanagementmatrix tr {
  border-top:1px solid;
  border-bottom: 1px solid;
}
.timemanagementmatrix tr td {
  overflow-wrap: anywhere;
  border:1px solid;
}

.timemanagementmatrix tr:before,
.timemanagementmatrix tr:nth-of-type(1) td:before {
  display: block;
  font-weight:bold;
  text-align:center;
}
.timemanagementmatrix tr:before {
  transform:rotate(-90deg);
  max-width: 25px;
  margin-top:50px;
  position: absolute;
  float:left;
}
.timemanagementmatrix tr:nth-of-type(1):before {
  content: 'important';
}
.timemanagementmatrix tr:nth-of-type(2):before {
  content: 'unimportant';
}
.timemanagementmatrix tr:nth-of-type(1) td:nth-of-type(1):before {
  content: 'urgent';
}
.timemanagementmatrix tr:nth-of-type(1) td:nth-of-type(2):before {
  content: 'non-urgent';
}
